Hallo <a href = "users/show" class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><%= @name %></a>
<a href = "users/new" class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored">sign up</a>
<a href = "sessions/new" class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored">log in</a>
