<%= tinymce %>
<%= simple_form_for Post.new do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id = "newpost">
    <%= f.input :text, label_html: { class: "mdl-textfield__label" }, input_html: { class: "tinymce mdl-textfield__input" } %>
  </div>
  <%= f.button :submit, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
